/**
 * Main App scss file
 */

// import bryntum theme and example styles
@import '~@bryntum/demo-resources/scss/example.scss';

#gantt-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#scheduler-container {
    display        : flex;
    flex-direction : row;
    height         : 100%;

    #b-grid-1 {
        flex: 0 1 auto !important;
    }
}
